body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
}

.hovereffect:hover {
  background-color: yellow !important;
  transition: all 1s linear;
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 1s linear;
}

.icon:hover {
  color: yellow;
}

.facebook-icon {
  color: #3b579d;
}

.twitter-icon {
  color: #3ab7f0;
}

.instagram-icon {
  color: #da5f53;
}

.title {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}

.subtitle {
  color: white;
  font-family: Caveat;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  text-transform: capitalize;
}

.underline {
  width: 5rem;
  height: 0.2rem;
  margin: 0.5rem auto;
  background: #d4db0a;
}

.item {
  position: relative;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  background: #d4db0a;
  padding: 0.1rem 0.3rem;
  text-transform: capitalize;
}

.gallery-container {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 1rem;
}
@media (max-width:576px) {
  .gallery-container {
    grid-template-columns: 1fr 1fr;
  }

  .icon,
  icon-holder {
    display: none;
  }
}
@media (max-width:768px) {
  .gallery-container {
    grid-template-columns: repeat(3,1fr);
  }
}
@media (max-width:992px) {
  .gallery-container {
    grid-template-areas: 'one one two two' 'one one three three';
  }

  .item1 {
    grid-area: one;
  }

  .item2 {
    grid-area: two;
  }

  .item3 {
    grid-area: three;
  }
}