body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
}

.hovereffect:hover {
  background-color: yellow !important;
  transition: all 1s linear;
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 1s linear;
}

.icon:hover {
  color: yellow;
}

.facebook-icon {
  color: #3b579d;
}

.twitter-icon {
  color: #3ab7f0;
}

.instagram-icon {
  color: #da5f53;
}

.title {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}

.subtitle {
  color: white;
  font-family: Caveat;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  text-transform: capitalize;
}

.underline {
  width: 5rem;
  height: 0.2rem;
  margin: 0.5rem auto;
  background: #d4db0a;
}
@media (max-width:768px) {
  .icon,
  icon-holder {
    display: none;
  }
}